* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

.brands {
    max-width: 1120px;
    padding: 24px 32px;
    width: 100%;
    background-color: #f8f8f8;
}

.brands__title {
    margin-bottom: 16px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color:#7e7e82;
    text-transform: uppercase;
}

.brands__list {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 16px;
}

.brands__item img {
    display: block;
    width: auto;
    height: auto;
}

.brands__button {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 16px;
  padding: 0 ;
  border: none; 
  background: none;
  font-size: 13px;
  line-height: 16px;
  color: #1b1c21;
  cursor: pointer;
}

.brands__button-icon {
    width: 8px;
    height: 8px;
}

.brands__button-text {
    display: block;
}
 

.brands__item:nth-child(n + 7) {
    display: none;
}


 .brands--expanded  .brands__item {
    display: block;
   }


   @media (max-width: 767px) {

    .brands__list {
        display: flex;
    }

    .brands__item {
        display: block;
    }

    .brands__item img {
        width: 100%;
        height: auto;
    }

    .brands__button {
        display: none;
    }


    .swiper-pagination {
        position: static;
        margin-top: 16px;
        text-align: center;
    }

    .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        margin: 0 4px !important;
    }

    .swiper {
        overflow: hidden;
    }
}

   @media (min-width: 768px) {

    .brands__list {
        display: grid;
        grid-template-columns: repeat(3, max-content);
        gap: 16px;
    }

    .brands__item {
        display: block;
    }
}

@media (min-width: 1120px) {

    .brands__list {
        grid-template-columns: repeat(4, max-content);
    }

    .brands__item:nth-child(n + 7) {
        display: block;
    }

    .brands__item:nth-child(n + 9) {
        display: none;
    }
}

.brands--expanded .brands__item {
    display: block;
}